body {
    font-family: arial;
    font-size: 12px;
    background-color: #000;
    color: white;
}

#loggedout {
    text-align: center;
    font-size: 20px;
    padding-top: 30px;
}
#loggedin {
    display: none;
}

#logo {
    padding-top: 8px;
    padding-bottom: 8px;
}

#header {
    border-bottom: 1px solid #000;
    padding-top: 8px;
    padding-bottom: 8px;
}

#output {
    padding: 4px;
}

.card {
    display: block;
    padding: 2px;
    cursor: pointer;
}

/*.event-fade {
    opacity: 0.5;
}*/

.event-large {
    height:35px;
    white-space: normal !important;
    padding-right: 30px;
    overflow: hidden;
}

#no-due-date .event-large {
    height: auto;
    min-height: 35px;
}

.event-progress {
    background-color: #1C7CDD;
}

.event-milestone {
    background-color: #F52488;
    font-weight: bold;
}

.event-gcal {
    background-color: #E000FF;
}

.event-progress.event-in-past {
    background-color: #EE2626;
}

.event-not-started {
    background-color: #636363;
}

.event-not-started.event-in-past {
    background-color: #EE2626;
}

.card.event-in-past {
    background-color: #EE2626;
}

.full-width-row-wrapper {
    padding: 0 15px;
}

.cal-week-box {
    min-height: 250px;
}

.cal-context hr {
    margin-bottom: 0;
    margin-top: 0;
}

.cal-day-today {
    background-color: #333;
}

.cal-row-head {
    background-color: #666;
}

.cal-row-head:hover *, .cal-row-fluid *:hover {
    background-color: #999 !important;
}

.cal-row-fluid:hover {
    background-color: #333;
}

.cal-column {
    border-left: 1px solid #666;
}

a.cal-event-week {
    color: #ddd;
}

.cal-week-box-no-weekend {
    border: 0;
}

#completed-cards .card-inner, #customer-requests .card-inner {
    margin: 5px;
    border: 1px solid #eee;
    padding: 7px 35px 7px 7px;
    border-radius: 3px;
    overflow: hidden;
}

#customer-requests .card {
    font-style: italic;
}

#completed-cards .card {
    opacity: 0.75;
}

#sidebar .card {
    margin-top: 5px;
}


.cal-cell1 {
    padding-left: 3px;
}


.hl-left {
    border-left: 1px solid #eee;
    overflow: auto;
    border-bottom: 1px solid #eee;
}

#sidebar {
    position: fixed;
    top:0;
    bottom: 0;
    right:0;
}

.event-success {
    background-color: #048D04 !important;
}
