body {
    font-family: arial;
    font-size: 12px;
}

#loggedout {
    text-align: center;
    font-size: 20px;
    padding-top: 30px;
}
#loggedin {
    display: none;
}

#logo {
    padding-top: 8px;
    padding-bottom: 8px;
}

#header {
    border-bottom: 1px solid #000;
    background: #eee;
    padding-top: 8px;
    padding-bottom: 8px;
}

#output {
    padding: 4px;
}

.card {
    display: block;
    padding: 2px;
}

.event-fade {
    opacity: 0.5;
}

.full-width-row-wrapper {
    padding: 0 15px;
}

.cal-week-box {
    min-height: 250px;
}

.cal-context hr {
    margin-bottom: 0;
    margin-top: 0;
}

#completed-cards .card {
}

#completed-cards .card-inner {
    margin: 5px;
    border: 1px solid #eee;
    padding: 7px 35px 7px 7px;
    border-radius: 3px;
}

.event-large {
    height:35px;
    white-space: normal !important;
    padding-right: 30px;
}

.hl-left {
    border-left: 1px solid #eee;
    height:700px;
    overflow: auto;
    border-bottom: 1px solid #eee;
}
